.container {
  background-color: #f6f4f3;
  padding-top: 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.container__hotelsCon {
  display: flex;
  list-style: none;
  flex-direction: column;
  gap: 12px;
  height: 88%;
}

.loaderContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
  justify-content: center;
}

.loaderContainer__text {
  font-style: italic;
  margin-top: 20px;
}

.container__hotelsPagCon{
  background-color: #F6F4F3;
  padding-bottom: 10px
}

@media (max-width: 1200px) {
  .container__hotelsCon {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 0px 11px;
    margin-bottom: 12px;
  }
}

@media (max-width: 768px) {
  .container__hotelsCon {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin: 0px 11px;
    margin-bottom: 12px;
  }
}
